.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: steelblue;
}

.focus text {
  font-size: 14px;
}

.tooltip {
  fill: white;
  stroke: #000;
}

.tooltip-date, .tooltip-count {
  font-weight: bold;
}

.details {
  border: solid gray 1px;
  border-radius: 4px;
  padding: 5px;
  min-height: 170px;
}
